body{
	background-color: blueviolet;
}
#carrrs{
	font-family: 'Permanent Marker', cursive;
	color:rgb(0, 0, 0);
	font-size:100pt;
}

.navbar{
	background-color: #2691dd;
	
}

.nav-item{
	font-size: larger;
	font-weight: bold;
}

#spacer{
	height: 10px;
	border-radius:0;
	margin-bottom: 50px;
}

.car{
	margin-bottom: 10px;
}

.display-img{
	width: 100%;
	/* height:0px; */
}

.edit-btn{
	background: transparent;
    border: none !important;
}

